:root {
  /* FONT-FAMILY/WEIGHT VARIABLES */
  --main-font-light: 'Inter Light', Helvetica, Arial, sans-serif;
  --main-font-regular: 'Inter Regular', Helvetica, Arial, sans-serif;
  --main-font-bold: 'Inter Bold', Helvetica, Arial, sans-serif;
  --main-font-black: 'Inter Black', Helvetica, Arial, sans-serif;

  /* FONT-HEIGHT VARIABLES */
  --font-height-auto: auto;
  --font-height-none: 0px;
  --font-height-xs: 18px;
  --font-height-s: 20px;
  --font-height-m: 24px;
  --font-height-l: 32px;
  --font-height-xl: 80px;

  /* FONT-SIZE VARIABLES */
  --font-size-xxs: 0.75rem;
  --font-size-xs: 0.875rem;
  --font-size-s: 1rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 1.75rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.625rem;
  --font-size-xxxl: 3.625rem;
  --font-size-xxxxl: 4rem;

  /* DEFAULT BORDER VARIABLES */
  --border-none: 0px;
  --border-xs: 0.5px solid;
  --border-s: 1px solid;
  --border-m: 2px solid;
  --border-l: 4px solid;

  /* RADIUS VARIABLES */
  --radius-none: 0px;
  --radius-xs: 4px;
  --radius-s: 8px;
  --radius-m: 16px;
  --radius-l: 30px;
  --radius-xl: 50%;

  /* COLORS VARIABLES */
  --base-color-bg: #fafafa;
  --base-color-contrast: #0e1319;
  --base-color-text-light: #ffffff;
  --base-color-text-dark: #0e1319;
  --main-color-dark: #445e7e;
  --main-color: #345a8e;
  --main-color-light: #c8d8eb;
  --second-color: #6c3a8e;
  --second-color-light: #dacee3;
  --green-color: #5c8e3a;
  --red-color: #8e423a;
}

html[data-theme='dark'] {
  /* COLORS VARIABLES */
  --base-color-bg: #0e1319;
  --base-color-contrast: #ffffff;
  --base-color-text-light: #ffffff;
  --base-color-text-dark: #0e1319;
  --second-color-light: #dacee3;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* COLORS VARIABLES */
    --base-color-bg: #0e1319;
    --base-color-contrast: #ffffff;
    --base-color-text-light: #ffffff;
    --base-color-text-dark: #0e1319;
    --second-color-light: #6c3a8e;
  }
}
