body {
  font-family: var(--main-font-regular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--base-color-bg);
}

html[data-theme='dark'] {
  background-color: var(--base-color-bg);
  color: var(--base-color-contrast);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--base-color-bg);
    color: var(--base-color-contrast);
  }
}

/* ------ RESETS ------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
